* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: lightgrey;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-weight: 400;
  padding: 0 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
}

.btn-rules {
  font-size: 25px;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/*========================================================*/

.popup-rules {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.popup-show {
  opacity: 1;
  visibility: visible;
}

.popup-rules-wrapper {
  width: 700px;
  height: 400px;
  background-color: white;
  border-radius: 50px;
  padding: 50px;
  position: relative;
  z-index: 3;
  cursor: auto;
  overflow: auto;
}

.btn-close {
  width: 30px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  right: 33px;
  cursor: pointer;
}

.btn-close span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #121212;
  border-radius: 5px;
  position: absolute;
  top: 13px;
  left: 4px;
}

.btn-close span:first-child {
  transform: rotate(45deg);
}

.btn-close span:last-child {
  transform: rotate(-45deg);
}

.popup-description {
  font-size: 20px;
  line-height: 150%;
}

.popup-text {
  font-size: 40px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

/*========================================================*/
.title {
  text-align: center;
}

.wrapper {
  display: flex;
  width: 900px;
  height: 70%;
  background-color: rgb(172 165 165);
  border-radius: 40px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user-wrapper {
  text-align: center;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: auto;
  position: relative;
  padding: 50px 0;
}

.user-active {
  background-color: rgb(84, 74, 84);
}

.user-name {
  font-size: 30px;
  text-align: center;
  margin: 0 0 30px 0;
}

.total-score {
  font-size: 80px;
}

.current-score {
  position: relative;
  display: block;
  width: 200px;
  height: 80px;
  border-radius: 20px;
  background-color: rgb(228, 228, 242);
  text-align: center;
  font-size: 40px;
  line-height: 80px;
}

.current-score::before {
  content: "Текущие очки";
  font-size: 20px;
  width: 100%;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
}

/*========================================================*/
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  padding: 15px 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn-new-game {
  top: 50px;
}

.btn-roll {
  bottom: 150px;
}

.btn-save {
  bottom: 70px;
}

.wrapper-dice {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  width: 100px;
  height: 100px;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

img[src="images/1.png"] {
  background-color: tomato;
}

.hidden {
  display: none;
}

.winner {
  background-color: green;
}

@media (max-width: 1279px) {
  .bnt-rules {
    font-size: 20px;
  }

  .user-name {
    font-size: 25px;
    margin: 0 0 25px 0;
  }

  .total-score {
    font-size: 60px;
  }

  .current-score {
    width: 160px;
    height: 60px;
    line-height: 60px;
  }
}

@media (max-width: 1023px) {
  .wrapper {
    display: flex;
    width: 785px;
    height: 75%;
    background-color: rgb(172 165 165);
    border-radius: 40px;
    overflow: hidden;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 845px) {
  .wrapper {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .header {
    height: 50px;
  }
  .wrapper {
    width: 100%;
    height: 80%;
    top: 85px;
  }

  .user0 {
    align-items: start;
    padding-left: 10px;
  }

  .user1 {
    align-items: end;
    padding-right: 10px;
  }

  .current-score {
    width: 100px;
    font-size: 25px;
  }

  .current-score::before {
    font-size: 14px;
    width: 100%;
    position: absolute;
    top: -44px;
  }

  .btn-rules {
    font-size: 16px;
  }

  .title {
    font-size: 20px;
  }

  .btn {
    font-size: 18px;
    padding: 5px 15px;
  }

  .wrapper-dice {
    width: 70px;
    height: 70px;
  }

  .popup-rules-wrapper {
    width: 90%;
    height: 90%;
    background-color: white;
    border-radius: 20px;
    padding: 55px 20px;
    position: relative;
    z-index: 3;
    cursor: auto;
  }
}

@media (max-width: 400px) {
  .btn {
    font-size: 16px;
    padding: 10px 5px;
  }
  .current-score {
    width: 50px;
  }

  .current-score::before {
    width: 100%;
    top: -34px;
    line-height: 100%;
  }
}

@media (max-height: 540px) {
  .btn-save {
    bottom: 20px;
  }

  .btn-roll {
    bottom: 70px;
  }
}

@media (max-height: 435px) {
  .wrapper {
    top: 50px;
  }

  .user {
    padding: 20px 10px;
  }

  .btn-new-game {
    top: 15px;
  }
}
